@model MVC.Day27.Assignment.Models.Product

@{
    ViewBag.Title = "Category";
}

<h3>Product Name : @Model.ProductName</h3>
<ul>
    <li><b>Category: </b>@Model.Category.Name</li>
    <li><b>Price: </b>@Model.Price</li>
    <li><b>Description: </b>@Model.Description</li>

</ul>


